.container {
	text-align: center;
}

.title-container > * {
	float: left;
}

.roggle-row {
	width: 400px;
	left: 50%;
	margin-left: -200px;
	position: relative;
}

.roggle-cell {
	text-align: center;
	height: 92px;
	margin-bottom: 4px;
	padding: 2px;
}

.roggle-die {
	margin: 2px;
	background: lightgray;
	height: 100%;
	border-radius: 5px;
	padding-top: 2px;
	font-size: 60px;
	font-weight: bold;
}

.share-link-title {
	padding-top: 18px;
}

.share-link, .share-link-title {
	color: #aaaaaa;
	margin-left: 20px;
	float: left;
}

.share-link button {
	margin-top: -3px;
	color: #777777;
}

.shake-button-container {
	text-align: center;
}

.cleared {
	flaot: none !important;
	clear: both !important;
}

.media-link {
	display: block;
	float: right;
	color: #c0c0c0;
	font-size: 30px;
	margin-right: 10px;
	margin-bottom: -10px;
}

.media-link:hover {
	color: #777777;
}

.media-link-container {
	float: right;
	margin-top: 20px;
}

/*.media-link .fa-envelope {
	font-size: 25px;
}*/

@media (max-width: 430px) {
	.roggle-row {
		width: 250px;
		margin-left: -125px;
	}
	
	.roggle-cell {
		height: 59px;
		margin-bottom: 4px;
		padding: 2px;
	}
	
	.roggle-die {
		font-size: 37px;
	}
	
	
}

@media (max-width: 992px) and (min-width: 769px) {
	.media-link:not(.github-link):not(.email-link) {
		display: none;
	}
}


@media (max-width: 768px){
	.media-link {
		display: none;
	}
}