.container {
	text-align: center;
}

.title-container > * {
	float: left;
}

.roggle-row {
	width: 400px;
	left: 50%;
	margin-left: -200px;
	position: relative;
}

.roggle-cell {
	text-align: center;
	height: 92px;
	margin-bottom: 4px;
	padding: 2px;
}

.roggle-die {
	margin: 2px;
	background: lightgray;
	height: 100%;
	border-radius: 5px;
	padding-top: 2px;
	font-size: 60px;
	font-weight: bold;
}

.share-link-title {
	padding-top: 18px;
}

.share-link, .share-link-title {
	color: #aaaaaa;
	margin-left: 20px;
	float: left;
}

.share-link button {
	margin-top: -3px;
	color: #777777;
}

.shake-button-container {
	text-align: center;
}

.cleared {
	flaot: none !important;
	clear: both !important;
}